{% extends 'base.html.twig' %}

{% block main %}
<div class="top-cart">
    <h1>Panier</h1>
    <hr> 
     {# Article par défaut avant d'ajouter methode pour ajout de produit #}
     <div class="product-default">
    {# Dans le Controller #}
    {# ajouter methode avec render pour renvoyer l'IMG, le nom et le prix de l'article #}
     <div>
        <img class="img-product" src=""/>
     </div>
     <div>
        <p>CHAUSSETTE POUSSIN</p>
        <p>9,99E</p>
        <input type="number" id="nbre" name="nbre" min="0" max="100" />
        {# rendre le panier cliquable pour remove l'article #}
        <img class="icon-trash"  src="../img/icons/poubelle_panier_chaussetto.png"/>
     <div>
     
     
     

     </div>    
    <a href=" {{ path('app_index') }}"><button>Continuer mes achats</button></a>
</div>
<div class="bottom-cart">
    <table>
            <thead>
                    <tr>
                        <th>Article(s)</th>
                        {% for element in data %}
                            <td>{{ element.product.name }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>prix</th>
                        {% for element in data %}
                            <td>{{ element.product.price / 100 }} €</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>quantité</th>
                        {% for element in data %}
                            <td>{{ element.quantity }}</td>
                        {% endfor %}
                    </tr>
                        <a href="#">+</a>
                        <a href="#">_</a>
                        <a href="#"><img class="icon-trash"  src="../img/icons/poubelle_panier_chaussetto.png"/></a>
                    <td>

                    </td>
            </thead>
            <tbody>
               
            </tbody>
                
        </table>
</div>    
<div class="total-cart">
    <table>
            <thead>
                    <tr>
                        <th>Total TTC </th>
                        {% for element in data %}
                            <td>{{ element.quantity * element.product.price / 100 }} €</td>
                        {% endfor %}
                    </tr>
            </thead>            
    </table>
</div>
<div>
   <a href=""><button>COMMANDER</button></a>
</div>    

{% endblock %}

{% block footer %}{% endblock %}