{% extends 'base.html.twig' %}

{% block main %}
<div class="top-cart">
    <h1>Panier</h1>
    <hr> 
     {# Article par défaut avant d'ajouter methode pour ajout de produit #}
     <div class="product-default">
    {# Dans le Controller #}
    {# ajouter methode avec render pour renvoyer l'IMG, le nom et le prix de l'article #}
     <div>
        <img class="img-product" src=""/>
     </div>
     <div>
        
        <input type="number" id="nbre" name="nbre" min="0" max="100" />
        {# rendre le panier cliquable pour remove l'article #}
     <div>
     
     
     

     </div>    
    <a href=" {{ path('app_index') }}"><button>Continuer mes achats</button></a>
</div>
<div class="bottom-cart">
    <table>
            <thead>
            {#}
                {% if data is not empty %}
                    <tr>
                        <th>Article(s)</th>
                        {% for element in data %}
                            <td>{{ element.product.name }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>prix</th>
                        {% for element in data %}
                            <td>{{ element.product.price }} €</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>quantité</th>
                        {% for element in data %}
                            <td>{{ element.quantity }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Total </th>
                        {% for element in data %}
                            <td>{{ element.quantity * element.product.price }} €</td>
                        {% endfor %}
                    </tr>
                    <td>
                        <a href="{{ path('cart_add', {id: element.product.id}) }}" class="">+</a>
                        <a href="{{ path('cart_remove', {id: element.product.id}) }}" class="">_</a>
                        <a href="#"><img class="icon-trash"  src="../images/icons/poubelle_panier_chaussetto.png"/></a>
                    </td>
                     {% else %}
                      <tr>
                    <td>Votre panier est vide.</td>
                </tr>
            {% endif %}{#}

            </thead>
            <tbody>
            {% if data is not empty %}
                {% for element in data %}
                    <tr>
                        <td>{{ element.product.name }}</td>
                        <td>{{ element.product.price }} €</td>
                        <td>{{ element.quantity }}</td>
                        <td>{{ element.quantity * element.product.price }} €</td>
                        <td>
                            <a href="{{ path('app_cart_add', {id: element.product.id}) }}" class="">+</a>
                            <a href="{{ path('app_cart_remove', {id: element.product.id}) }}" class="">_</a>
                            <a href="{{ path('app_cart_delete', {id: element.product.id}) }}"><img class="icon-trash"  src="../images/icons/poubelle_panier_chaussetto.png"/></a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">Votre panier est vide.</td>
                </tr>
            {% endif %}
        </tbody>


        </table>
</div>    

<div class="total-cart">
    <table>
            <tfoot>
                    <tr>
                        <th>Total TTC </th>
                        {% for element in data %}
                            <td>{{ total }} €</td>
                        {% endfor %}
                    </tr>
            </tfoot>            
    </table>
</div>

<div>
   <a href=""><button>COMMANDER</button></a>
</div>    

{% endblock %}

{% block footer %}{% endblock %}