{% extends 'admin/dashboard.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block main %}
	<h2>
		{{ title }}
	</h2>
	{# {% if is_granted('ROLE_ADMIN') %} #}
    <h3><a href=" {{ path('app_create_category')}}"> Créer une nouvelle catégorie </a></h3>
    {# {% endif %} #}

	<table>
		<tr>
		Catégorie : 
		{% if (triName == 'desc') %}
			<a href=" {{ path('app_list_category' ) }}?label={{ label }}&triName=asc">></a>
		{% else %}
			<a href=" {{ path('app_list_category' ) }}?label={{ label }}&triName=desc"><</a>
		{% endif %}
		</tr>
	{% for item in category %}
		<tr>
			<td>
				Catégorie : {{ item.label}}
			</td>
			<td>
				<a href=" {{ path('app_show_category', {'id' : item.id}) }}">Voir</a> 
				<a href=" {{ path('app_update_category', {'id' : item.id}) }}">Mettre à jour</a> 


			</td><br>
		</tr>
		{% else %}
		<tr>
            <td>Aucun enregistrement</td>
        </tr>
    {% endfor %}

		</table>
	<form>
        <input type='text' name='label' value='{{ label }}' placeholder='Recherchez par le label'>
        {# <input type='text' name='prenom' value='{{ prenom }}' placeholder='Recherchez par le prénom'> #}
        {# <input type='text' name='date_naissance' value='{{ date_naissance }}' placeholder='Recherchez par la date de naissance'> #}
        <input type = 'submit' value='rechercher' name='submit'>
        {# <button type= 'submit' name= 'subasc'>ASC</button>
        <button type= 'submit' name= 'subdesc'>DESC</button> #}

    </form>


{% endblock %}
