{% extends 'admin/dashboard.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block additionalStyles %}
	<link href="{{ asset('styles/back-office/category.css') }}" rel="stylesheet"/>
{% endblock %}

{% block main %}
<div class="info_page_categ">
		<h2 class="title_categ">
		{{ title }}
		</h2>
		<hr class="info_categ_hr">
	</div>
	
<section class="filtre">
	{% if is_granted('ROLE_ADMIN') %}
	<div class="bouton_ajout_categ">
    	<h3>
		<a href=" {{ path('app_create_category')}}"> Créer une nouvelle catégorie </a>
		</h3>
		</div>
    {% endif %}

	</section>

	<section id="tableau_categ">
	<table id="tableau_categ_table">
		<tr>
			Catégorie : 
			{% if (triName == 'desc') %}
				<a href=" {{ path('app_list_category' ) }}?label={{ label }}&triName=asc">></a>
			{% else %}
				<a href=" {{ path('app_list_category' ) }}?label={{ label }}&triName=desc"><</a>
			{% endif %}
		</tr>
		{% for item in category %}
		<tr>
			<td>
				Catégorie : {{ item.label}}
			</td>
			
			<td class="aff_categ">
				<a href=" {{ path('app_show_category', {'id' : item.id}) }}">Voir</a> 
				<a href=" {{ path('app_update_category', {'id' : item.id}) }}">Mettre à jour</a> 
				{# <a href=" {{ path('app_update_category', {'id' : item.id}) }}">Supprimer</a>  #}

			</td>
			
		</tr>
		{% else %}
		<tr>
            <td>Aucun enregistrement</td>
        </tr>
    	{% endfor %}

	</table>
	</section>
	<form class="form_categ">
        <input type='text' name='label' value='{{ label }}' placeholder='Recherchez par le label'>
        <input type = 'submit' value='rechercher' name='submit'>
    </form>
	

{% endblock %}
