{% extends 'admin/dashboard.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block main %}
	<h2>
		{{ title }}
	</h2>
	{# {% if is_granted('ROLE_ADMIN') %} #}
    <h3><a href=" {{ path('app_create_category')}}"> Créer une nouvelle catégorie </a></h3>
    {# {% endif %} #}
	{% for item in category %}
		<tr>
			<td>
				Catégorie : {{ item.label}}
			</td>
			<td>
				<a href=" {{ path('app_show_category', {'id' : item.id}) }}">Voir</a> 
				<a href=" {{ path('app_update_category', {'id' : item.id}) }}">Mettre à jour</a> 


			</td><br>
		</tr>
		{% else %}
    {% endfor %}



{% endblock %}
