{% extends 'admin/dashboard.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block main %}
	<h2>
		{{ title }}
	</h2>

	{# {{ form(form) }} #}

	{{ form_start(form) }}
    {{ form_row(form.label) }}
    {{ form_row(form.description) }}
    {{ form_row(form.active) }}
    {{ form_row(form.dateAdd) }}
    {{ form_row(form.isRootCategory) }}
    {{ form_row(form.positionning) }}

	<label for="">Choix de la catégorie parent :</label>

    {# {{ dump(category) }} #}
	<select name="parentCategory">
        {% if category is not null %}
            <option value="{{ category.id }}">{{ category.label }}</option>
        {% endif %}
		<option value="">Catégorie Racine </option>
        {% for category in categories %}
		    <option value="{{ category.id }}"> {{category.label}}</option>

        {% endfor %}
	</select>
	{{ form_end(form) }}


{% endblock %}
