{% extends 'base.html.twig' %}

	{% block additionalStyles %}
		<link href="{{ asset('./styles/home.css') }}" rel="stylesheet"/>
	{% endblock %}

{% block title %}Accueil{% endblock %}


{% block main %}

	<section class="landing">
		<div class="imageDeFond">
			<h1>CHAUSSETTO</h1>
			<hr>
			<H2>LES CRAVATES POUR LES PIEDS</H2>
		</div>
	</section>
	<div class="banner_index">
		<p>DÉCOUVREZ UN MONDE OÙ LE STYLE ET LE CONFORT SE RENCONTRENT</p>
	</div>

	<div id="discovery_category">
		<a href="">
			<button class="discovery_category">Découvrir nos chaussettes originales</button>
		</a>

		<a href="">
			<button class="discovery_category_basic">Découvrir nos chaussettes basiques</button>
		</a>
	</div>

	<div class="display-products">
		<h2 class="product_h2">NOS&nbsp;CHAUSSETTES</h2>
		<hr>

		<div class="grid_product">
			{% for productThumbnail in productThumbnails %}
				<div class="container_product">
					<div id="slider_product">
						<div class="slide_product">
							<div class="wrapInfoPost">
								<h3>{{ productThumbnail.product.name }}
								</h3>
								<p>{{ productThumbnail.product.price }}€</p>
								<img
								src="/images/mobile/{{ productThumbnail.product.image[0].name }}">
								<!-- AJOUTER AU PANIER  -->
								{% set cartForm = productThumbnail.formView %}
								{% set product = productThumbnail.product %}
								{{ include('fragments/add_to_cart.html.twig') }}
								<!-- AJOUTER AU PANIER -->
							</div>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
	</div>

	<div>
		{{ block("endpage", "endpage.html.twig") }}
	</div>


{% endblock %}
