{% extends 'admin/dashboard.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block main %}
	<h2>
		{{ title }}
	</h2>
	<table>
		<tr>
		<td>

		Prénom : 
		{% if (triName == 'desc') %}
			<a href=" {{ path('app_list_customer')}}?name={{ name }}&lastname{{ lastname}}&triName=asc&triLastname={{ triLastname}}&trimail={{ trimail }}">></a>
		{% else %}
			<a href=" {{ path('app_list_customer')}}?name={{ name }}&lastname{{ lastname}}&triName=desc&triLastname={{ triLastname}}&trimail={{ trimail }}">></a>
		{% endif %}
		</td>

        <td>
		Nom : 
		{% if (triLastname == 'desc') %}
			<a href=" {{ path('app_list_customer')}}?name={{ name }}&lastname{{ lastname}}&triLastname=asc&triName={{ triName}}&trimail={{ trimail }}">></a>
		{% else %}
			<a href=" {{ path('app_list_customer' ) }}?name={{ name }}&lastname{{ lastname}}&triLastname=desc&triName={{ triName}}&trimail={{ trimail }}">></a>
		{% endif %}
		</td>

        <td>
		Email : 
		{% if (trimail == 'desc') %}
			<a href=" {{ path('app_list_customer' ) }}?name={{ name }}&lastname{{ lastname}}&trimail=asc&triName={{ triName}}&triLastname={{ triLastname }}">></a>
		{% else %}
			<a href=" {{ path('app_list_customer' ) }}?name={{ name }}&lastname{{ lastname}}&trimail=desc&triName={{ triName}}&triLastname={{ triLastname }}">></a>
		{% endif %}
		</td>

		<td>
		Adresse : 
		</td>

		</tr>

        

	{% for customer in customers %}
		<tr>
			<td> Prénom : {{ customer.name}} </td>
			<td> Nom : {{ customer.lastname}} </td>
			<td> Email : {{ customer.email}} </td>
			<td> Adresse : {{ customer.adress.line1}} </td>

			{# <td> Panier : {{ customer.cart.correspondingOrder}} </td> #}
		</tr>

		{% else %}
		<tr>
            <td>Aucun enregistrement</td>
        </tr>
    {% endfor %}

		</table>
	<form>
        <input type='text' name='name' value='{{ name }}' placeholder='Recherchez par le prénom'>
        {# <input type='text' name='prenom' value='{{ prenom }}' placeholder='Recherchez par le prénom'> #}
        {# <input type='text' name='date_naissance' value='{{ date_naissance }}' placeholder='Recherchez par la date de naissance'> #}
        <input type = 'submit' value='rechercher' name='submit'>
        {# <button type= 'submit' name= 'subasc'>ASC</button>
        <button type= 'submit' name= 'subdesc'>DESC</button> #}

    </form>


{% endblock %}