{% extends 'admin/dashboard.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}


{% block main %}
    <h1>Formulaire de Produit</h1>

    {{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.active) }}
    {{ form_row(form.price) }}
    {{ form_row(form.weight) }}
    {{ form_row(form.tax) }}
    {{ form_row(form.categories) }}
    {{ form_row(form.stock) }} 
    {{ form_row(form.image) }}

    {{ form_row(form.submit) }}

    {{ form_end(form) }}
{% endblock %}

