{% extends 'base.html.twig' %}

{% block main %}
        
    <div class="example-wrapper">
        {% for product in products %}
            <p>
                <b>Nom :</b> {{ product.name }},  
                <b>Prix :</b> {{ product.price }}, 
                <a href="{{ path('app_detail', {'id': product.id, 'category': product.categories.first().label}) }}">Voir les détails</a>
            </p>

            {% for category in product.categories %}
                <b>Catégorie :</b> {{ category.label }}
            {% endfor %}

        {% for image in product.images %}
            <ul>
                <li><img src="{{ asset('../assets/img/web/' ~ image.name) }}" alt="Image du produit"></li>
            </ul>
        {% endfor %}
    {% endfor %}
</div>
<div class="grid_product">
			{% for productThumbnail in productThumbnails %}
				<div class="container_product">
					<div id="slider_product">
						<div class="slide_product">
							<div class="wrapInfoPost">
								<h3>{{ productThumbnail.product.name }}
								</h3>
								<p>{{ productThumbnail.product.price }}€</p>
								<img
								src="/images/mobile/chaussette_guitare_basique.png">
								<!-- AJOUTER AU PANIER  -->
								{% set cartForm = productThumbnail.formView %}
								{% set product = productThumbnail.product %}
								{{ include('fragments/add_to_cart.html.twig') }}
								<!-- AJOUTER AU PANIER -->
							</div>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>

{% endblock %}




