{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}
{% block main %}
    <div>
        <h1>Voici l'article Sélectionné</h1>

        <div>
            <p>
                <b>Nom :</b> {{ produit.name }},  
                <b>Prix :</b> {{ produit.price }}, 
                <b>Poids :</b> {{ produit.weight }},  
                <b>Stock :</b> {{ produit.stock }}, 
                <b>Tax :</b> {{ produit.tax.rate }}, 
                <b>Description :</b> {{ produit.description }}
            </p>
            
            <div>
                {% for category in produit.categories %}
                    <b>Catégorie :</b> {{ category.label }}<br>
                {% endfor %}
            </div>

            <div>
                {% for image in produit.images %}
                    <img src="{{ asset('../assets/img/web/' ~ image.name) }}" alt="Image du produit">
                {% endfor %}
            </div>
        </div>  
                {% if produit.stock > 0 %}
                {# Verifier l'ajout de condition ajout au panier apparait SI le produit est en stock, sinon affichier temporairement en rupture de stock #}
                <a href="{{ path('app_cart_add', {id: produit.id}) }}"><button class="add-cart">Ajouter au panier</button></a>
                {% else %}
                    <p>Temporairement en rupture de stock>
                {% endif %}
    </div>
    <a href="{{ path("app_produit") }}">Retour</a>


    

{# ARTICLES SIMILAIRES ---------------------------------------------------------------------------------------------------------- #}

<h1>ARTICLES SIMILAIRES</h1>

<div>
    {% for product in products %}
        <div>
            <p>
                <b>Nom :</b> {{ product.name }},  
                <b>Prix :</b> {{ product.price }}, 
            </p>

            {% for category in product.categories %}
                <b>Catégorie :</b> {{ category.label }}
            {% endfor %}

            {% for image in product.images %}
                <div>
                    <img src="{{ asset('../assets/img/web/' ~ image.name) }}" alt="Image du produit">
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>


{% endblock %}
