{% extends 'base.html.twig' %}
{% block additionalStyles %}
		{# 'app' must match the first argument to addEntry() in webpack.config.js #}
		<link
		href="{{ asset('./styles/detail.css') }}" rel="stylesheet"/>
	<!-- Renders a link tag (if your module requires any CSS)
	    <link rel="stylesheet" href="/build/app.css"> -->
	{% endblock %}

{% block title %}Hello ProduitController!{% endblock %}
{% block main %}
    <div>
       

        
        <div class="titre">
            <p>
                 <b>Nom :</b> {{ produit.name }}, 
               <br> <b>Prix :</b> {{ produit.price }},  <br>
               
            </p>
         </div>   
            

            <div class="image">
                {% for image in produit.images %}
                    <img src="{{ asset('../assets/img/web/' ~ image.name) }}" alt="Image du produit">
                {% endfor %}
            </div>
            <div class="produit">
            {% if produit.stock > 0 %}
                {# Verifier l'ajout de condition ajout au panier apparait SI le produit est en stock, sinon affichier temporairement en rupture de stock #}
                <a href="{{ path('app_cart_add', {id: produit.id}) }}"><button class="add-cart">Ajouter au panier</button></a>
                {% else %}
                    <p>Temporairement en rupture de stock>
                {% endif %}
            </div>
            <div class="detail">
                <b>Poids :</b> {{ produit.weight }},  
                <b>Stock :</b> {{ produit.stock }}, 
                <b>Tax :</b> {{ produit.tax.rate }}, 
             </div>
             <div class="description"  
              <br> <b>Description :</b> {{ produit.description }}<br>
              </div>
                
    </div>
    <a href="{{ path("app_produit") }}">Retour</a>


    

{# ARTICLES SIMILAIRES ---------------------------------------------------------------------------------------------------------- #}

<h1>ARTICLES SIMILAIRES</h1>

<div>
    {% for product in products %}
         <div class="titre">
            <p>
                <b>Nom :</b> {{ product.name }},  
                <br><b>Prix :</b> {{ product.price }}, <br>
            </p>
        </div>

    

            {% for image in product.images %}
                <div class="image">
                    <img src="{{ asset('../assets/img/web/' ~ image.name) }}" alt="Image du produit">
                </div>
            {% endfor %}
            </div>  
            <div class="produit">
                {% if produit.stock > 0 %}
                {# Verifier l'ajout de condition ajout au panier apparait SI le produit est en stock, sinon affichier temporairement en rupture de stock #}
                <a href="{{ path('app_cart_add', {id: produit.id}) }}"><button class="add-cart">Ajouter au panier</button></a>
                {% else %}
                    <p>Temporairement en rupture de stock>
                {% endif %}
                </div>  
        </div> 
    {% endfor %}
</div>


{% endblock %}
