{% extends 'base.html.twig' %}

{% block main %}

<div class="example-wrapper">
    {% for produit in produit %}
    <p> <b> nom : </b> {{ produit.name }},  <b>prix :</b> {{produit.price}}, <a href="{{ path("app_detail",{id:produit.id}) }} " >Voir les détails</a>  "</a>
        {% for category in produit.categories %}

            <b>Catégorie :</b> {{category.label}}

        {% endfor %}


    {% for image in produit.images %}
            <ul>
                <li><img src="{{ asset('../assets/img/web/' ~ image.name) }}" alt="Image du produit"></li>
            </ul>
    {% endfor %}
 </p>
    {% endfor %}

    

    
</div>
{% endblock %}
