<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {{title}} {% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            <link href="{{ asset('styles/colors.css') }}" rel="stylesheet" />
            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}

        {% block additionalStyles %}
            
        {% endblock %}

        {# {% block javascripts %}
            {{ encore_entry_script_tags('colors') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js" defer></script>
                <script src="/build/app.js" defer></script>
                See note below about the "defer" attribute -->
        {% endblock %} #}
    </head>
    <body>
        <header>
            
            {% block header %} 
        
                <nav>
                    <p>Navigation Admin :</p>

                    <a href= "{{ path ('app_admin_dashboard') }} " > Pannel d'administration </a><br>
                    {% if (is_granted('IS_AUTHENTICATED_FULLY')) %}
                        <a href= "{{ path ('app_admin_logout') }} " > Se déconnecter </a><br>
                        <a href= "{{ path ('app_admin_profile') }} " > Mon profil </a><br>
                    {% else %}
                        <a href= "{{ path ('app_admin_login') }} " > Se connecter </a><br>
                    {% endif %}
                </nav>
            {% endblock %}
        </header>
        {# Lit et affiche tous les message flash #}
        {# Classes : flash-success, flash-warning #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <br><br>
        <main>
            {% block main %}
                
                <p>Bienvenue sur le dashboard d'administration, {{ staff.name }}</p>
                <a href= "{{ path ('app_list_admin') }} " > Liste des administrateur :</a><br>
                <a href= "{{ path ('app_list_category') }} " > Liste des catégories :</a><br>
                <a href="{{ path('app_list_promotion') }}">Promotions</a>
                <a href= "{{ path ('app_list_customer') }} " > Liste des utilisateurs :</a><br>
                
            {% endblock %}
        </main>
        
        <footer>
        {% block footer %}{% endblock %}
        </footer>
        

    </body>
</html>
