<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				{{title}}
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			{# 'app' must match the first argument to addEntry() in webpack.config.js #}
			<link href="{{ asset('styles/general.css') }}" rel="stylesheet" />
			<link href="{{ asset('styles/back-office/nav.css') }}" rel="stylesheet"/>
			<link href="{{ asset('styles/back-office/dashboard.css') }}" rel="stylesheet"/>
			<link
			href="{{ asset('styles/general.css') }}" rel="stylesheet"/>
		<!-- Renders a link tag (if your module requires any CSS)
					<link rel="stylesheet" href="/build/app.css"> -->
		{% endblock %}

		{% block additionalStyles %}{% endblock %}

		{# {% block javascripts %}
            {{ encore_entry_script_tags('colors') }}

            <!-- Renders app.js & a webpack runtime.js file
                           <script src="/build/runtime.js" defer></script>
			 <script src="/build/app.js" defer></script>
			See note below about the "defer" attribute -->
		{% endblock %}
		#}
	</head>
	<body>


		{% block header %}

			<nav class="menu_admin">
				<ol>
					{% if (is_granted('IS_AUTHENTICATED_FULLY')) %}
						<li class="menu-item">
							<a href="{{ path ('app_admin_dashboard') }} ">
								Pannel d'administration
							</a>
						</li>


						<li class="menu-item">
							<a class="administration" href="{{ path ('app_list_product') }} ">Produits</a>
						</li>

						<li class="menu-item">
							<a class="administration" href="{{ path ('app_list_category') }} ">Catégories</a>
						</li>

						<li class="menu-item">
							<a class="administration" href="{{ path ('app_list_orders') }} ">Commandes</a>
						</li>

						<li class="menu-item">
							<a class="administration" href="{{ path ('app_list_promotion') }} ">Promotions</a>
						</li>

						<li class="menu-item">
							<a class="administration" href="{{ path ('app_list_tax') }} ">Taxes</a>
						</li>

						<li class="menu-item">
							<a class="administration" href="{{ path ('app_list_admin') }} ">Administrateur</a>
						</li>
						<li class="menu-item">
							<a class="administration" href="{{ path ('app_admin_profile') }} ">Mon profil</a>
						</li>

						<li class="menu-item">
							<a class="administration" href="{{ path ('app_admin_logout') }} ">Se déconnecter</a>
						</li>
					{% else %}

						<li class="menu-item">
							<a class="administration" href="{{ path ('app_admin_login') }} ">Se connecter</a>
						</li>
					{% endif %}
				</ol>
			</nav>

		{% endblock %}


				{# Lit et affiche tous les message flash #}
				{# Classes : flash-success, flash-warning #}
					{% for label, messages in app.flashes %}
						{% for message in messages %}
							<div class="flash-{{ label }}"> {{ message }}
						</div>
					{% endfor %}
				{% endfor %}
					{% block main %}
		<section class="emplacement">

						<div class="info_h">
							<h1>Tableau de bord
							</h1>
							<hr>
						</div>

				<section>
					<a href="{{ path ('app_list_product') }} ">
						Liste des produits</a><br>

						</section>
						<a href="{{ path ('app_list_admin') }} ">
							Liste des administrateur :</a><br>
						<a href="{{ path ('app_list_customer') }} ">
							Liste des utilisateurs :</a><br>
						<a href="{{ path ('app_list_category') }} ">
							Liste des catégories :</a><br>
						<a href="{{ path ('app_list_product') }} ">
							Liste des produits</a><br>
						<a href="{{ path ('app_list_tax') }} ">
							Liste des taxes</a><br>
						<a href="{{ path ('app_list_orders') }} ">
							Liste des commandes</a><br>
						<a href="{{ path ('app_list_promotion') }}">Promotions</a><br>
						<a href="{{ path ('app_gestionProduct') }}">Gérer les produits<br>


			{% endblock %}

		</section>


		 <script src="./js/nav.js"></script>
	</body>
</html>
