{% extends 'base.html.twig' %}

{% block stylesheets %}
    {# 'app' must match the first argument to addEntry() in webpack.config.js #}
    {{ encore_entry_link_tags('connexion') }}
    {{ encore_entry_link_tags('general') }}
    {{ encore_entry_link_tags('burger') }}
    {{ encore_entry_link_tags('footer') }}


    <!-- Renders a link tag (if your module requires any CSS)
    <link rel="stylesheet" href="/build/app.css"> -->
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('general') }}
    {{ encore_entry_script_tags('burger') }}
    {{ encore_entry_script_tags('connexion') }}
    {{ encore_entry_script_tags('footer') }}


    <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js" defer></script>
        <script src="/build/app.js" defer></script>
            See note below about the "defer" attribute -->
{% endblock %}


{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <div>
        {% if error %}
            <div class='error'>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
<div class="connection"> 
    <h1> CONNECTEZ-VOUS </h1>
</div>

        
<section class="sectionformulaire">
    <div class="formulaire">
        <form action={{path('app_login')}} method='POST'>
            <div class="info">
                <label for='email'> Email de connection</label>
                <input type='email' id='email' name='_username' value='{{ email }}'>
            </div>

            <div class="info">
                <label for='password'> Mot de passe </label>
                <input type='password' id='password' name='_password'>
            </div>

            {# redirection vers une route valide #}
            {# <input type='hidden' name='_target_path' value='{{ path('app_customer_dashboard') }}'> #}

            <div class="button-form">
                <input type='hidden' name='_csrf_token' value="{{ csrf_token('authenticate') }}">

                <button type='submit'> Se connecter </button>
                
            </div>
        </form>
    </div>
</section>
        
<section id="basdepage">
    <div class="basdepage">    
        <a href=""><p> Pas de compte ? Créer-en un</p></a>
    </div>
</section>    


{% endblock %}
