{% extends 'base.html.twig' %}

{% block additionalStyles %}
    {# 'app' must match the first argument to addEntry() in webpack.config.js #}
    <link href="{{ asset('styles/connexion.css') }}" rel="stylesheet" />
{% endblock %}


{% block title %}
    {{ title }}
{% endblock %}
{% block main %}
    <div>
        {% if error %}
            <div class='error'>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
<div class="connection"> 
    <h1> CONNECTEZ-VOUS </h1>
</div>

        
<section class="sectionformulaire">
    <div class="formulaire">
        <form action={{path('app_login')}} method='POST'>
            <div class="info">
                <label for='email'> Email de connection</label>
                <input type='email' id='email' name='_username'  placeholder='example@mail.com' value='{{ email }}'>
            </div>

            <div class="info">
                <label for='password'> Mot de passe </label>
                <input type='password' id='password' placeholder='mot de passe' name='_password'>
            </div>

            {# redirection vers une route valide #}
            {# <input type='hidden' name='_target_path' value='{{ path('app_customer_dashboard') }}'> #}

            <div class="button-form">
                <input type='hidden' name='_csrf_token' value="{{ csrf_token('authenticate') }}">

                <button type='submit'> Se connecter </button>
                
            </div>
        </form>
    </div>
</section>
        
<section id="basdepage">
    <div class="basdepage">    
        <a href="{{ path('app_customer_inscription') }}"><p> Pas de compte ? Créez-en un !</p></a>
    </div>
</section>    


{% endblock %}
