{% extends 'base.html.twig' %}

{% block additionalStyles %}
    {# 'app' must match the first argument to addEntry() in webpack.config.js #}
    <link href="{{ asset('styles/connexion.css') }}" rel="stylesheet" />
{% endblock %}


{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <h1>Connectez-vous</h1>
    <div>     
        <form action="{{ path('app_login') }}" method='POST'>
            {% if error %}
                <div class='error'>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <label for='email'>Email de connexion</label>
            <input type='email' id='email' placeholder='example@mail.com' name='_username' value='{{ email }}'>

            <label for='password'>Mot de passe</label>
            <input type='password' id='password' placeholder='mot de passe' name='_password'>

            {# redirection vers une route valide #}
            {# <input type='hidden' name='_target_path' value='{{ path('app_customer_dashboard') }}'> #}
            <input type='hidden' name='_csrf_token' value="{{ csrf_token('authenticate') }}">

            <button type='submit'>Se connecter</button>
        </form>
        <p class="info">Pas encore de compte? <a href="{{ path('app_customer_inscription') }}">Inscrivez-vous !</a></p>
    </div>

{% endblock %}
