{% extends 'base.html.twig' %}

{% block additionalStyles %}
    {# 'app' must match the first argument to addEntry() in webpack.config.js #}
    <link href="{{ asset('styles/connexion.css') }}" rel="stylesheet" />

    <!-- Renders a link tag (if your module requires any CSS)
    <link rel="stylesheet" href="/build/app.css"> -->
{% endblock %}

{# {% block javascripts %}
    {{ encore_entry_script_tags('general') }}
    {{ encore_entry_script_tags('burger') }}
    {{ encore_entry_script_tags('connexion') }}
    {{ encore_entry_script_tags('footer') }}


    <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js" defer></script>
        <script src="/build/app.js" defer></script>
            See note below about the "defer" attribute -->
{% endblock %} #}


{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <div>
        {% if error %}
            <div class='error'>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <h1>Connectez-vous</h1>
        <form action={{path('app_login')}} method='POST'>

            <label for='email'>Email</label>
            <input type='email' id='email' name='_username' value='{{ email }}'>

            <label for='password'>Mot de passe</label>
            <input type='password' id='password' name='_password'>

            {# redirection vers une route valide #}
            {# <input type='hidden' name='_target_path' value='{{ path('app_customer_dashboard') }}'> #}
            <input type='hidden' name='_csrf_token' value="{{ csrf_token('authenticate') }}">

            <button type='submit'>Se connecter</button>
        </form>
        <p class="info">Pas encore de compte? <a href="{{ path('app_customer_inscription') }}">Inscrivez-vous !</a></p>
    </div>

{% endblock %}
