{% extends 'admin/dashboard.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
  <h1>{{ title }}</h1>
  <h2>{{ promotion.rate }}% de réduction</h2>
  <h3>Produits concernés</h3>
  <ul>
    {% for product in promotion.products %}
      <li><a href="">{{ product }}</a></li>
    {% endfor %}
  </ul>

  <aside>
    <h3>Contrôles</h3>
    <a href="{{ path('app_update_promotion', { 'id': promotion.id }) }}">Modifier</a>
    <a href="{{ path('app_delete_promotion', { 'id': promotion.id }) }}" class="danger">Supprimer</a>
    <a href="{{ path('app_list_promotion') }}">Retour</a>
  </aside>

{% endblock %}
